<!DOCTYPE html>
<html>
  <head>
    <title>DrewAnderson</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
  </head>

  <body data-spy="scroll" data-target="#navbar-example">
    <%= yield %>
  </body>
</html>
